body {
    background: linear-gradient(to top,  #cccc 20%, #fff 70%);
    margin: 0;
    padding: 0;
    text-align: center;
}

.containe{
    text-align: center;
    direction: 'rtl'
}
.title{
    border: 1px darkgray dashed;
    margin: 3px;
    text-align: center;
}

div img {
    width: 100%;
    min-height: 100%;
}

.desktop {
  width: 350px;
  padding:  50px;
}
.mobile{
   width: 250px;
padding: 50px;}

.list{
    margin: 3px;
    background: black;
    color: #ffff;
    font-size: 1.5rem;
    width: 200px;
}

.active{
    background: red;
}

.menu :hover{
background: rgb(67, 67, 199)
}
.list :active{
    background: rgb(105, 18, 40);
    }
.showItems{
    background: #fff;
    height: 89px;
    width: 174px;
    position: absolute;
    top: 66px;
    left: 142px;
}
.showItemsMobile{
    background: beige;
    height: 235px;
    width: 123px;
    position: absolute;
    top: 90px;
    left: 80px;
}
.imageDssktop{
    padding: 0px;
}
.imgRounded {
    border-radius: 1.25rem;
}

.mobileMenu{
    padding: 0 50px 50px 50px;
}

/* @media only screen and (max-width: 600px) {
    .mobile-100 {height:100vh;
    }
  } */