body {
    background: linear-gradient(to top,  #cccc 20%, #fff 70%);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%; 
}

.containe{
    text-align: center;
    padding-top: 12%;
}
.title{
    border: 1px darkgray dashed;
    margin: 3px;
    text-align: center;
}

div img {
    width: 100%;
    min-height: 100%;
}

.desktop {
  width: 350px;
  padding:  50px;
}

.mobile{
   width: 250px;
   padding: 50px;
   margin: 0 0 0 55px
}


.list{
    margin: 3px;
    background: black;
    color: #ffff;
    font-size: 1.5rem;
    width: 200px;
}

.active{
    background: red;
}


.showItems{
    background: #fff;
    height: 89px;
    width: 174px;
    position: absolute;
    top: 66px;
    left: 142px;
}
.showItemsMobile{
    background: beige;
    height: 235px;
    width: 123px;
    position: absolute;
    top: 86px;
    left: 133px;
    border-radius: 8px;
}
.imageDssktop{
    padding: 0;
    margin: 0;
}
.imgRounded {
    border-radius: 1.25rem;
}

.menu{
    padding: 0 0px 50px 0px;
}

